label {
    display: block;
}

input {
    display: block;
}
[type='radio'] {
    display: inline;
}

form {
    margin: 2rem 0;
}
.error {
    color: red;
    font-size: 0.75em;
    margin-bottom: 1rem;
}
.alert {
    text-align: center;
}